casi todas las secuencias que ya vimos tienen operaciones en comun en conjunto nosotro
a exepcion de los rangos , ahora una nota muy importante es que dos notal del mismo tipo se pueden  concatenar una a continuacion de la otra usando el operador  esto retornara una secuencia del mismo tipo acuerdate  gatos con gatos perros con perros

In [1]:
print("hola"+"mundo")
print([1,2]+["esto","el otro"])
print((4,5)+(True,"corre"))

holamundo
[1, 2, 'esto', 'el otro']
(4, 5, True, 'corre')

como ya hemos visto antes aparte de sumar podemos multiplicar esto retornara una secuencia equivalente por el numero de veces  que nosotros multiplicando

In [2]:
print("la"*3)
print([2,3,1]*3)
print((3,45,2)*3)

lalala
[2, 3, 1, 2, 3, 1, 2, 3, 1]
(3, 45, 2, 3, 45, 2, 3, 45, 2)

ahora nosotros podemos saber si es que algun elemeno esta en estas colecciones si es que usamos un operador de pertennecia in este actuara debolbendo un true si es que nosotros tenemos el elemento en la secuncia o  alse si nos hace falta

In [5]:
print("a" in "hola mundo")
print(2 in [2,3,5,11,3])
print(9 in (4,"2","algo"))
print(4 in range(3,10))

True
True
False
True

en caso de algun grupo escpecial de  de secuencias tienen otro tipo de comportamiento especial:lo  que podemos hacer es buscar una subcadena  las series que  con el string con los bytes y los bytearrays

In [8]:
print("@outlook.com" in "ejemplo@outlook.com")
print(b"secreto" in b"esto es un secreto")
print(bytearray((34,32,33)) in bytearray([90,9,89,9 ,34,32,33]))

True
True
True

tambien esta el caso contrario que funciona exactamente igual pero de manera inversa

In [11]:
print("a" not in "Hola Mundo")
print("esto" not in "talvez")
print(3 not in [3,4,5,9,22,2])

False
True
False

el sigueiente metodo lo utilisaremos para contar las vezes que se repite un objeto en nuestra secuencia si nosotros no e pasamos un argumento nos dara error

In [12]:
print("hola mundo".count("o"))

TypeError: count() takes at least 1 argument (0 given)